{% extends "core/base.html" %}
{% load static %}
{% block content %}
<h2 class="mb-2">Bienvenido, {{ user.username }}</h2>

<div class="row justify-content-center g-4">
{% for proyecto in proyectos %}
    <div class="card" style="width: 20rem;">
    <div class="card-body">
        <h3 class="card-title">Mis proyectos</h3>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ proyecto.nombre }}</h6>
        <p class="card-text">{{ proyecto.descripcion }}</p>
        <div class="d-flex flex-wrap gap-2">
                <a href="{% url 'proyecto_update' proyecto.pk %}" class="btn btn-dark">Editar proyecto</a>
                <a href="{% url 'proyecto_delete' proyecto.pk %}" class="btn btn-dark">Eliminar proyecto</a>
                <a href="{% url 'tarea_list' proyecto.pk %}" class="btn btn-dark">Ver tareas</a>
            <a href="{% url 'tarea_create' proyecto.pk %}" class="btn btn-success">Crear tarea</a>
        </div>
    </div>
    </div>
    <!--recordar que proyecto.pk es identificar el proyecto especifico por su primary key-->

{% empty %}
    <p>No tienes proyectos todavía.</p>
{% endfor %}
</div>
{% endblock content %}